Flask
pytest # for resting
coverage # test coverage
pytest-cov 
python-dotenv # setting env variables automaitc
yapf # code formatter
gunicorn # web server for production
werkzeug # for encrypting passwords
sqlalchemy # ORM for database
flask-admin # admin panel
Flask-SQLAlchemy
flask-migrate
Flask-Testing # testing