{% extends 'index.html' %}

{% block main %}
<div class="container" style="text-align: center"> 
        <div class="row" style="display: inline-block">
            <div class="col-9">
            <!-- Andre kolonne: Søkeresultater -->
                <div class="col8" name="resultater" id="resultater">
                    {% for job_appAnt in results %}
                    <a href="{{  url_for('profile.view_job_applicant', id=job_appAnt.id)  }}">
                    <div class="card">
                            {% if job_appAnt.img %}
                                <img class="card-img-top" src="#" alt="Card image cap">
                            {% else %}
                                <img class="card-img-top" src="/static/img/{{job_appAnt.profile_picture}}" alt="Card image cap">
                            {% endif %}
        
                                <div class="card-body">
        
                                    <h4 class="card-title"><a><i class="far fa-address-card"></i> {{ job_appAnt.first_name }} {{ job_appAnt.last_name }}</a></h4>
                                    {% if job_appAnt.CV %}
                                        <p class="card-text">{{ job_appAnt.CV }}</p>
                                    {% endif %}
                                    {% if job_appAnt.former_jobs %}
                                        <p class="card-text">Tidligere jobbet for {{ job_appAnt.former_jobs }}</p>
                                    {% endif %}
        
                                </div>
                            </div>
                    </a>
                    {%endfor%}
                </div>
            </div>
        </div>
</div>
{% endblock %}