{% extends 'index.html' %}

<div style="position: absolute; top:20px"></div>

{% block main%}



<div id="app">
    <button class="btn red" v-on:click=toggle>toggle</button>
    <form v-if=vise class="text-center border border-light p-5">

      <p class="h4 mb-4">Registrering - Jobbsøker</p>

      <div class="form-row mb-4">
          <div class="col">
              <!-- First name -->
              <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Fornavn">
          </div>
          <div class="col">
              <!-- Last name -->
              <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Etternavn">
          </div>
      </div>

    <!-- Fødselsdato -->
    <form class="text-center border border-light p-5">
      <label> Skriv inn fødselsdato </label>

        <div class="form-row mb-4">
            <div class="col">
                <!-- Fødselsdag -->
                <select class="browser-default custom-select">
                    <option value="" disabled selected>Dag</option>
                    <option value="1">1.</option>
                    <option value="2">2.</option>
                    <option value="3">3.</option>
                    <option value="4">4.</option>
                    <option value="5">5.</option>
                    <option value="6">6.</option>
                    <option value="7">7.</option>
                    <option value="8">8.</option>
                    <option value="9">9.</option>
                    <option value="10">10.</option>
                    <option value="11">11.</option>
                    <option value="12">12.</option>
                    <option value="13">13.</option>
                    <option value="14">14.</option>
                    <option value="15">15.</option>
                    <option value="16">16.</option>
                    <option value="17">17.</option>
                    <option value="18">18.</option>
                    <option value="19">19.</option>
                    <option value="20">20.</option>
                    <option value="21">21.</option>
                    <option value="22">22.</option>
                    <option value="23">23.</option>
                    <option value="24">24.</option>
                    <option value="25">25.</option>
                    <option value="26">26.</option>
                    <option value="27">27.</option>
                    <option value="28">28.</option>
                    <option value="29">29.</option>
                    <option value="30">30.</option>
                    <option value="31">31.</option>
                  </select>
            </div>

            <div class="col">
                <!-- Fødselsmåned -->
                <select class="browser-default custom-select">
                    <option value="" disabled selected>Måned</option>
                    <option value="1">Januar</option>
                    <option value="2">Februar</option>
                    <option value="3">Mars</option>
                    <option value="4">April</option>
                    <option value="5">Mai</option>
                    <option value="6">Juni</option>
                    <option value="7">Juli</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">Oktober</option>
                    <option value="11">November</option>
                    <option value="12">Desember</option>
                  </select>

            </div>
            <div class="col">
                <!-- Fødselsår -->
                <select class="browser-default custom-select">
                    <option value="" disabled selected>År</option>
                    <option value="1">2000</option>
                    <option value="2">1999</option>
                    <option value="3">1998</option>
                    <option value="4">1997</option>
                    <option value="5">1996</option>
                    <option value="6">1995</option>
                    <option value="7">1994</option>
                    <option value="8">1993</option>
                    <option value="9">1992</option>
                  </select>
            </div>
        </div>


      <!-- E-mail -->
      <input type="brukernavn" id="epost" class="form-control mb-4" placeholder="E-post">

      <!-- Password -->
      <input type="passord" id="passord" class="form-control" placeholder="Passord" aria-describedby="defaultRegisterFormPasswordHelpBlock">
      <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      </small>

       <!-- Tidligere jobber -->
       <input type="text" id="registerTidligereJobber" class="form-control" placeholder="Tidligere jobber" >
       <small id="registerTidligereJobber" class="form-text text-muted mb-4">
       </small>

       <!-- Kompetanse -->
       <!-- TODO:
       <select class="browser-default custom-select" multiple>
          <option value="" disabled selected>Kompetanse</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>

        <button class="btn-save btn btn-primary btn-sm">Save</button> -->
        <!-- Success message -->


       <!-- CV -->
       <div class="form-group">
          <label> CV </label>
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>


      <!-- Sign up button -->
      <button class="btn btn-info my-4 btn-block" type="submit">Registrer</button>

    </form>
    </form>

    <form v-else class="text-center border border-light p-5">

      <p class="h4 mb-4">Registrering - Startup</p>

      <div class="form-row mb-4">
          <div class="col">
              <!-- Bedriftnavn -->
              <input type="text" id="brukernavn" class="form-control" placeholder="Bedriftsnavn">
          </div>
      </div>

    <!-- Fødselsdato -->
    <form class="text-center border border-light p-5">
      <label> Oppstartsdato </label>

        <div class="form-row mb-4">
            <div class="col">
                <!-- Oppstartssdag -->
                <select class="browser-default custom-select">
                    <option value="" disabled selected>Dag</option>
                    <option value="1">1.</option>
                    <option value="2">2.</option>
                    <option value="3">3.</option>
                    <option value="4">4.</option>
                    <option value="5">5.</option>
                    <option value="6">6.</option>
                    <option value="7">7.</option>
                    <option value="8">8.</option>
                    <option value="9">9.</option>
                    <option value="10">10.</option>
                    <option value="11">11.</option>
                    <option value="12">12.</option>
                    <option value="13">13.</option>
                    <option value="14">14.</option>
                    <option value="15">15.</option>
                    <option value="16">16.</option>
                    <option value="17">17.</option>
                    <option value="18">18.</option>
                    <option value="19">19.</option>
                    <option value="20">20.</option>
                    <option value="21">21.</option>
                    <option value="22">22.</option>
                    <option value="23">23.</option>
                    <option value="24">24.</option>
                    <option value="25">25.</option>
                    <option value="26">26.</option>
                    <option value="27">27.</option>
                    <option value="28">28.</option>
                    <option value="29">29.</option>
                    <option value="30">30.</option>
                    <option value="31">31.</option>
                  </select>
            </div>

            <div class="col">
                <!-- Oppstartsmåned -->
                <select class="browser-default custom-select">
                    <option value="" disabled selected>Måned</option>
                    <option value="1">Januar</option>
                    <option value="2">Februar</option>
                    <option value="3">Mars</option>
                    <option value="4">April</option>
                    <option value="5">Mai</option>
                    <option value="6">Juni</option>
                    <option value="7">Juli</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">Oktober</option>
                    <option value="11">November</option>
                    <option value="12">Desember</option>
                  </select>

            </div>
            <div class="col">
                <!-- Oppstartsår -->
                <select class="browser-default custom-select">
                    <option value="" disabled selected>År</option>
                    <option value="1">2000</option>
                    <option value="2">1999</option>
                    <option value="3">1998</option>
                    <option value="4">1997</option>
                    <option value="5">1996</option>
                    <option value="6">1995</option>
                    <option value="7">1994</option>
                    <option value="8">1993</option>
                    <option value="9">1992</option>
                  </select>
            </div>
        </div>


      <!-- E-mail -->
      <input type="email" id="epost" class="form-control mb-4" placeholder="E-post">

      <input onclick="change()" type="button" value="Open Curtain" id=myButton1"></input>

      <!-- Type -->
      <input style="visibility: hidden;" id="type" value="startup">

      <!-- Password -->
      <input type="password" id="passord" class="form-control" placeholder="Passord" aria-describedby="defaultRegisterFormPasswordHelpBlock">
      <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      </small>

       <!-- Tidligere jobber -->
       <input type="text" id="registerTidligereJobber" class="form-control" placeholder="Tidligere jobber" >
       <small id="registerTidligereJobber" class="form-text text-muted mb-4">
       </small>

       <!-- Kompetanse -->
       <!-- TODO:  -->
       <select class="browser-default custom-select" multiple>
          <option value="" disabled selected>Kompetanse</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>

        <button class="btn-save btn btn-primary btn-sm">Save</button>


       <!-- Beskrivelse av bedriften -->
       <div class="form-group">
          <label> Beskrivelse av bedriften </label>
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>


      <!-- Sign up button -->
      <button class="btn btn-info my-4 btn-block" type="submit">Registrer</button>

    </form>
    </form>

</div>
<!-- Default switch
<div class="custom-control custom-switch">
  <label> Startup </label>
  <div style = "position: absolute; left:135px; top:0px;">
    <input type="checkbox" class="custom-control-input" id="customSwitches">
    <label class="custom-control-label" for="customSwitches">Jobbsøker</label>
  </div>
</div>
-->
<!-- Default form register -->




  <script>
    var app =  new Vue({
      el: '#app',
      delimiters: ["[[","]]"],
      data: {
        vise: true,
      },
      methods: {
        toggle: function() {
          this.vise = !this.vise;
        }
      }
    })
      function change(){
          if (this.value=="Close Curtain") this.value = "Open Curtain";
          else this.value = "Close Curtain";
        }

  </script>

{% endblock %}



<!--TODO:
ting som må med her:
brukernavn
passord
epost
type (admin, jobbsøker, startup)

hvis jobbsøker:
tidligere jobber
kompetanse
CV
fødselsdato

hvis startup
beskrivelse
oppstartsdato
<form method="post">
  <label for="brukernavn">brukernavn</label>
  <input name="brukernavn" id="brukernavn" required>

  <label for="passord">passord</label>
  <input type="passord" name="passord" id="passord" required>

  <label for="epost">epost</label>
  <input name="passord" id="epost" required>

  <input type="submit" value="Register">
</form>
-->
