{% extends 'index.html' %}

{% block main %}
<!-- hei -->
<style>
    #searchBar{
        visibility: hidden;
    }
</style>
<div class="container" >
    <div class="row">
    <!-- Første kolonne: Checkbokser  id="searchbox -->
        <div class="col-3">
            <form method="POST" id="search_db" name="search_db" action="{{ url_for('search.search') }}">
                <input name="search-input" class="form-control" type="text" placeholder="Søk" aria-label="Search">
            <p><b>Hva vil du søke på?</b></p>

                <!-- Default checked -->
                <div class="custom-control custom-checkbox">
                    <input name="startup-checkbox" type="checkbox" class="custom-control-input" id="startup-checkbox" value="True">
                    <label class="custom-control-label" for="startup-checkbox">Startup</label>
                </div>

                <!-- Default unchecked -->
                <div class="custom-control custom-checkbox">
                    <input name="job_applicant-checkbox" type="checkbox" class="custom-control-input" id="job_applicant-checkbox" value="True">
                    <label class="custom-control-label" for="job_applicant-checkbox">Jobbsøker</label>
                </div>

                <!-- Default unchecked -->
                <div class="custom-control custom-checkbox">
                    <input name="job_application-checkbox" type="checkbox" class="custom-control-input" id="job_application-checkbox" value="True">
                    <label class="custom-control-label" for="job_application-checkbox">Stillingsannonse</label>
                </div>


            <p><b>Tags</b> </p>

                    {% if tags%}
                    {% for tag in tags %}
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name={{ tag.tagname }} class="custom-control-input" id={{ tag.tagname }}>
                        <label class="custom-control-label" for={{ tag.tagname }}>{{ tag.tagname }}</label>
                    </div>
                    {% endfor %}
                    {% else%}
                        <h3>Det finnes ingen Tags </h3>
                    {% endif %}

                <button type="submit" id="søkknapp"class="btn btn-amber waves-effect waves-light" form="search_db" value="Submit">Søk</button>
            </form>
        </div>




    <div class="row">
        <div class="col-9">
        {% if ((startups) or ( Job_application ) or (Job_position)) %}:
            {{ pass }}
        {% else %}
            <h1>Ingen treff</h1>
        {% endif %}
        <!-- Andre kolonne: Søkeresultater -->
        <div class="col8" name="resultater" id="resultater">
            {% if startups %}
                {% for startis in startups %}
                <a href="{{url_for('index')}}profile/startup/{{startis.id}}">
                <div class="card md-4">
                    {% if startis.profile_picture %}
                        <img class="card-img-top" src="../static/img/{{startis.profile_picture}}" alt="{{startis.id}}">
                    {% else %}
                        <img class="card-img-top" src="https://bbvaopen4u.com/sites/default/files/styles/big-image/public/img/new/bbva-open4u-statup.jpg?itok=JjHnvHP-" alt="Card image cap">
                    {% endif %}
                <!-- Card image -->
                    <div class="card-body">
                    <h4 class="card-title"><a><i class="far fa-building"></i> {{ startis.name }}</a></h4>
                    <p class="card-text">{{ startis.description }}</p>
                    </div>
                </div>
                </a>
                {% endfor %}
            {% endif%}
            {% if Job_application %}
                {% for job_appAnt in Job_application %}
                    <a href="{{url_for('index')}}profile/job_applicant/{{job_appAnt.id}}">
                    <div class="card">
                        {% if job_appAnt.profile_picture %}
                            <img class="card-img-top" src="../static/img/{{job_appAnt.profile_picture}}" alt="{{ job_appAnt.first_name }}">
                        {% else %}
                            <img class="card-img-top" src="https://c1.dq1.me/uploads/article_block/27768d/article_featured_image/55101/thumb_man-sitting-desk-writing-letter.jpg" alt="Card image cap">
                        {% endif %}

                        <div class="card-body">

                            <h4 class="card-title"><a><i class="far fa-address-card"></i> {{ job_appAnt.first_name }} {{ job_appAnt.last_name }}</a></h4>
                            {% if job_appAnt.CV %}
                                <p class="card-text">{{ job_appAnt.CV }}</p>
                            {% endif %}
                            {% if job_appAnt.former_jobs %}
                                <p class="card-text">Tidligere jobbet for {{ job_appAnt.former_jobs }}</p>
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
            {% endif%}

            {% if Job_positions %}
                {% for job_pos in Job_positions %}
                <a href="{{url_for('index')}}profile/jobPosition/{{job_pos.id}}">
                    <div class="card">
                        {% if job_pos.startup.profile_picture %}
                            <img class="card-img-top" src="../static/img/{{job_pos.startup.profile_picture}}" alt="{{job_pos.id}}">
                        {% else %}
                            <img class="card-img-top" src="https://www.chymfm.com/wp-content/uploads/sites/8/2016/04/question-mark-face.jpg" alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                        <h4 class="card-title"><a><i class="far fa-edit"> </i>{{ job_pos.title }}</a></h4>
                        <p class="card-text">{{ job_pos.description }}</p>
                        </div>

                    </div>
                    </a>
                {% endfor %}
            {% endif%}
            </div>
        </div>
    </div>
</div>


{% endblock %}
