{% extends 'index.html' %} {% block main%}
<div class="d-flex flex-wrap justify-content-center">
  {% if posts %}
  {% for post in posts %}

  <!-- Card -->
  <a href="{{ url_for('post.view_post', id=post.id)}}">
    <div class="card">
      <!-- Card image -->
      <img
        class="card-img-top"
        src="https://mdbootstrap.com/img/Photos/Others/images/10.jpg"
        alt="Card image cap"
      />

      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title"><a href="{{ url_for('post.view_post', id=post.id)}}">{{ post.title }}</a></h4>

        <!-- Text -->
        <p class="card-text">
          [ her skal startdelen av innlegget stå ]
        </p>
        <!-- Button -->
        <!--<a href="{{ url_for('post.view_post', id=post.id)}}" class="btn btn-primary">Åpne innlegg</a>-->
      </div>
    </div>
  </a>
  <!-- Card -->
  {% endfor %}

{% else%}
<h1>Det finnes ingen forsideinnlegg :( </h1>
{% endif %}

{% endblock %}
