{% extends 'profile/startup.html' %} 

{% block job_positions%}
<div class="d-flex flex-wrap justify-content-center" style="display: flex; flex-direction: row-reverse;">
  {% if user.job_positions %} <!---Kommer an på hvordan dataen sendes med.-->
  {% for job_position in user.job_positions %}

  <!-- Card -->
    <div class="card">
        <a class="divlink" href="{{ url_for('job_position_bp.view_job_position', id=job_position.id)}}"></a>
      <!-- Card image -->
      <img
        class="card-img-top"
        src="{{job_position.profile_picture}}"
        alt="Card image cap"
      />

      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title"><a>{{ job_position.title }}</a></h4>

        <!-- Text -->
        <p class="card-text">
          [ her skal startdelen av innlegget stå ]
        </p>
        
      </div>
    </div>
  <!-- Card -->
  {% endfor %}

{% else%}
<h1>Denne bedriften utlyser ingen stillinger </h1>
{% endif %}

{% endblock %}
