{% extends 'index.html' %}
{% block main%}
<form method="POST" class="text-center border">
<div
  style="
         padding: 30px;
         display: flex;
         flex-direction: column;
         align-items: center;
  ">
  <img
    class="card"
    src="https://mdbootstrap.com/img/Photos/Others/images/10.jpg"
    alt="Card image cap"
  />
  <h1 style="padding: 20px;">
    {{user.first_name}} {{user.last_name}}
  </h1>
  <p style="margin-bottom: 2px;">
    {{user.email}}
  </p>
  <small style="margin-bottom: 20px;">
    {{user.birth_date}}
  </small>
  <h3> Tidligere jobber </h3>
  <p> {{user.former_jobs}} </p>
  <p> </p>



</div>
<div style="padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  ">
  <h3> CV </h3>
  <p> {{user.CV}} <p>
</div>

<div style="text-align: center;">
  <div id="mapid" style="height: 300px; width: 300px; display: inline-block"></div>
  </div>
        <script>

            loadMap();

            function loadMap(){
                var mymap = L.map('mapid',{ zoomControl:false }).setView([63.41, 10.4], 13);

                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'sk.eyJ1Ijoia3Jpc2hvcyIsImEiOiJjanRlZnNjaTQxOWQzM3lxaW9nb3draWJpIn0.uqFRCSFp47VsooqZXTM-SQ'
                }).addTo(mymap);

                mymap.invalidateSize();
                mymap.dragging.disable();
                mymap.touchZoom.disable();
                mymap.doubleClickZoom.disable();
                mymap.scrollWheelZoom.disable();
                mymap.boxZoom.disable();
                mymap.keyboard.disable();

                var address = "{{user.location}}";
                var addressShowcase = "{{user.markerText}}";
                $.get('https://nominatim.openstreetmap.org/search?format=json&q='+address, function(data){
                console.log(data[0]);
                var x = data[0].lat;
                var y = data[0].lon;
                mymap.setView([x,y],13);
                var mymarker = L.marker([x,y], {title: address, alt: address, draggable:false}).addTo(mymap);
                mymarker.bindPopup(addressShowcase).openPopup();
                });
            }
        </script>
      </form>


{% endblock %}
