{% extends 'index.html' %}
{% block main%}


<div
  style="
         padding: 30px;
         display: flex;
         flex-direction: column;
         align-items: center;
  ">
  <img
    class="card"
    src="{{ url_for('static', filename='img/' )}}{{user.profile_picture}}"
    alt="Card image cap"
  />
  <h1 style="padding: 20px;">
    {{user.name}}
  </h1>
  <p>
    {{user.description}}
  </p>
  <p>
    Beskrivelse ^^
  </p>
  <p>
    Kanskje kan vi få til at ved stort


    enter


    i teksten så vil den dele seg i to p-tagger?
  </p>
</div>
<div style="display: flex; justify-content: space-around;" >

{% if job_positions %}
{% for job_position in job_positions %}
  <p> {stillingsannonse i card...} </p>

  {% endfor %}

{% else%}
  <h1>Ingen stillingsannonser tilgjengelig</h1>
{% endif %}




</div>
<div style="padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  ">
  <p> Bedriften ble laget i {{user.startup_date}} </p>
  <p> Send epost til {{user.name}} på {{user.email}} <p>
</div>




{% endblock %}
